html{
  background-color: #f3f3f3;
}

.basic{
  max-width: 640px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;

  background-color:  #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  font: bold 14px sans-serif;
  text-align: center;
}

.basic .row{
  text-align: left;
  margin-bottom: 22px;
}

.basic .title-row{
  text-align: center;
  margin-bottom: 55px;
}

/* The form title */

/*.basic h1{*/
  /*display: inline-block;*/
  /*box-sizing: border-box;*/
  /*color:  #4c565e;*/
  /*font-size: 24px;*/
  /*padding: 0 10px 15px;*/
  /*border-bottom: 2px solid #6caee0;*/
  /*margin: 0;*/
/*}*/

.basic .row > label span{
  display: inline-block;
  box-sizing: border-box;
  color: #5F5F5F;
  width: 130px;
  text-align: right;
  vertical-align: top;
  padding: 12px 15px;
}

.basic input{
  color:  #5f5f5f;
  box-sizing: border-box;
  width: 340px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
}

.basic input[type=radio],
.basic input[type=checkbox]{
  box-shadow: none;
  width: auto;
}

.basic input[type=checkbox]{
  margin-top: 13px;
}

.basic select{
  background-color: #ffffff;
  color:  #5f5f5f;
  box-sizing: border-box;
  max-width: 340px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 8px;
  border: 1px solid #dbdbdb;
}

.basic textarea{
  color:  #5f5f5f;
  box-sizing: border-box;
  width: 340px;
  height: 80px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  font: normal 13px sans-serif;
  padding: 12px;
  border: 1px solid #dbdbdb;
  resize: vertical;
}

.basic .radio-buttons{
  display: inline-block;
  vertical-align: top;
}

.basic .radio-buttons > div{
  margin-top: 10px;
}

.basic .radio-buttons label span{
  margin-left: 8px;
  color: #5f5f5f;
  font-weight: normal;
}

.basic .radio-buttons input{
  width: auto;
}

.field-header {
    font-weight: normal;
}

.error {
  border: 1px solid #d37171;
  box-shadow: 2px 3px 4px 0 rgba(200, 77, 77, 0.15);
}

/*	Making the form responsive. Remove this media query
  if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

  .basic{
    padding: 30px;
    max-width: 480px;
  }

  .basic .row{
    max-width: 300px;
    margin: 25px auto;
    text-align: left;
  }

  .basic .title-row{
    margin-bottom: 50px;
  }

  .basic .row > label span{
    display: block;
    text-align: left;
    padding: 0 0 15px;
  }

  .basic select{
    width: 240px;
  }

  .basic input[type=checkbox]{
    margin-top:0;
  }

  .basic .radio-buttons > div{
    margin: 0 0 10px;
  }

  .basic button{
    margin: 0;
  }

}
