<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopsTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i' rel='stylesheet'
          type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
